[req]
distinguished_name = root_dn
prompt = no

[root_dn]
CN = Enterprise SSO Internal Root CA
O = Enterprise Internal Services

[root_ca]
basicConstraints = critical,CA:TRUE,pathlen:0
keyUsage = critical,keyCertSign,cRLSign
subjectKeyIdentifier = hash

[server_cert]
basicConstraints = critical,CA:FALSE
keyUsage = critical,digitalSignature,keyEncipherment
extendedKeyUsage = serverAuth
subjectAltName = IP:210.47.163.114
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid,issuer
